html, body {
  width: 100%; 
  height:100%; 
  overflow:hidden;
}

a {
 position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -70px;
  margin-left: -290px;
  font-family: "Futura";
  font-style: bold;
  color: #ff6666;
  font-size: 62px;
    
}

img {
height : 150px;
width: 150px;
padding: 30px;

}
